html, body {
    height: 100%;
}

div {
    display: block;
}

input, textarea, select, .uneditable-input {
    height: auto;
}


ul li {
    list-style-type: none;
    list-style-image: none;
    clear: both;
    vertical-align: middle;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    display: block;
}

li {
    text-align: -webkit-match-parent;
}

ul li .uploadTitle {
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
    margin-bottom: 2px;
}

ul li progress {
    color: #777;
    width: 100%;
}

.page-content {
    height: auto !important;
}

.uploadContainer {
    bottom: 0;
    border-radius: 10px 10px 0 0;
    position: fixed;
}

.uploadRenderer {
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-image: initial;
}

.video-list .loading img {
    display: block;
}

.video-list .loaded img {
    display: none;
}
